<div class="app">
  <div class="wrapper">
    <div class="content p-3">
      <button class="btn btn-primary" (click)="addOnRoot()" *ngIf="!isAddingNode">Add Folder to Root</button>
      <div class="add-node w-25" *ngIf="isAddingNode">
        <input type="text" class="form-control" [(ngModel)]="nodeName " />
        <div class="mt-2 text-right">
          <button class="btn btn-info" (click)="onCancel()">Cancel</button>
          <button class="btn btn-success ml-2" (click)="onSave()">Save</button>
        </div>
      </div>
      <div class="node-list mt-3" *ngIf="nodeList.length">
        <hr />
        <ul class="node-list-ul">
          <ng-container *ngTemplateOutlet="nodeListTmpl; context:{ nodeList: nodeList, nodeIndex: 0 }"></ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #nodeListTmpl let-list="nodeList" let-parent="nodeIndex">
  <li *ngFor="let item of list; let current = index">
    <i [class]="item.icon"></i>
    <span>{{ item.name }}</span>
    <div class="custom-div">
      <button class="btn btn-success custom-btn" (click)="addFile(item, parent, current)">Add File</button>
      <button class="btn btn-success custom-btn ml-2" (click)="addFolder(item, parent, current)">Add Folder</button>
    </div>
    <ul *ngIf="item.children.length > 0" class="node-list-ul-inner mt-2">
      <ng-container *ngTemplateOutlet="nodeListTmpl; context:{ nodeList: item.children, nodeIndex: current }">
      </ng-container>
    </ul>
  </li>
</ng-template>